

<div class="jumbotron jumbotron-fluid bg-info text-white">
  <div class="container">
    <br>
    <h1 class="display-4 text-center">Oh-My-Gift</h1>
    <br>
    <p class="lead text-center"> {{!-- Item name goes here--}}</p>
  </div>
</div>
<div class="container">
{{!-- Item output goes here --}}
 <div class="card">
  <div class="card-header text-center">
    <p id="person" > Your Gift </p>
  </div>
  
  <div class="card text">
  <div class="col"> 
    <h3>Product Name:</h3>
    <div id="omgName" class="row"> <p> {{ ProductName }} </p></div>
    <h3>Product Price:</h3>
    <div id="omgPrice" class="row"> <p>$ {{ SalePrice }} </p></div>
    <h3>Product Description:</h3>
    <div id="omgDescript" class="row"> <p> {{ Description }} </p></div>
    <h3>Product Url:</h3>
    <div id="omgUrl" class="row"> <p> <a target="_blank" href="{{ ProductUrl }}">{{ ProductUrl }}</a> </p></div>
  </div>
  </div>
  
  
</div>
</div> 

<div id="redirectBtn" class="row justify-content-center">
   <div class="col-3">
     <button style="margin-top: 30px; margin-bottom: 30px;" class="btn btn-warning btn-block clear"><a style="color: white;" href="/">Return to
            Main Menu</a></button>
    </div>
    </div>        
</div>
<script src="js/category.js"></script>
 
    